@use "reset";
@use "function" as f;

:root {
  --global-color: #a3e363;
  --swiper-pagination-bullet-horizontal-gap: 0.187rem;
  --swiper-pagination-color: #000;
  --swiper-pagination-bullet-inactive-color: #ccc;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

@font-face {
  font-family: gill-bold;
  src: url("../fonts/GillSansMTW03-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: gill-medium;
  src: url("../fonts/GillSansMTW03-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: gill-regular;
  src: url("../fonts/GillSansMTW03-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}


body {
  font-family: gill-regular, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  transition: all .3s ease-in-out;
  line-height: 1.5;
}

a {
  color: #000;
}

.iframe--video {
  position: relative;
  width: 100%;
  height: auto;

  &::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.page {
  padding-top: 37px;
}

.hidden {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.jus-center {
  justify-content: center !important;
}

.link--alpha {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--global-color);
    transition: opacity .25s;
    transition: width .25s ease-in-out;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.viewall {
  .link--alpha {
    &::before {
      width: 100%;
    }
  }
}

.zoom-img {
  overflow: hidden;

  img {
    transition: .3s;
  }

  &:hover {
    img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.text-center {
  text-align: center;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 1.875rem;
}

h1,
h2,
h3,
h4 {
  line-height: 2.625rem;
  letter-spacing: .125rem;
}

h4,
.h4 {
  font-size: 1.375rem;
}

p {
  font-size: 0.875rem;
}

.but-primary {
  position: relative;
  font-size: .625rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  letter-spacing: .1em;
  text-align: center;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: .9375rem .625rem;
  text-decoration: none;
  width: 100%;
  font-family: gill-regular, Arial, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .4s ease;

  &::after {
    content: '';
    position: absolute;
    background-color: var(--global-color);
    bottom: -5px;
    height: 4px;
    width: calc(100% + 2px);
    left: -1px;
  }

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.flex {
  display: flex;
}

.login_request {
  display: flex;
  padding: 0 4.375rem;
  column-gap: 30px;
}

.sign_message {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .05em;

}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 0;
  width: 0;
  word-wrap: normal;
  box-shadow: none;
  border: 0;
  min-width: 0;
}

.form-group input:not([type=checkbox]):not([type=radio]),
form input:not([type=checkbox]):not([type=radio]) {
  height: 44px;
  border: 1px solid #d3d3d3;
  padding-left: 14px;
  color: #000;
  -webkit-border-radius: 0;
  border-radius: 0;
}


.no-gutters {
  display: flex;
  flex-wrap: wrap;
}

.region {
  flex: 0 0 50%;
  max-width: 50%;

  &-sticky {
    position: sticky;
    top: 37px;
    line-height: 0;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 2.5rem;
  }

  &-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(1.25rem - 15px);
    padding-right: calc(1.25rem - 15px);
  }
}

.product {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;

  &-img {
    position: relative;
    background: #f0f0f0;
    margin-bottom: 1.125rem;
    aspect-ratio: 1 / 1;
    line-height: 0;

    img {
      width: 100%;
      height: 100%;
      -webkit-object-fit: cover;
      object-fit: cover;
      -webkit-transition: opacity .3s linear;
      transition: opacity .3s linear;

      &:not(.cropped) {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
      }
    }

    &--first {
      opacity: 1;
    }

    &--second {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    &:hover {
      .product-img--first {
        opacity: 0;
      }

      .product-img--second {
        opacity: 1;
      }
    }
  }

  &-color {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    li {
      margin-right: .5rem;

      span {
        position: relative;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background: #E0A698;

        &::before {
          content: '';
          position: absolute;
          box-shadow: 0 0 0 .08125rem #000;
          width: 1rem;
          height: 1rem;
          top: 0;
          left: 0;
          z-index: 1;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          transform: scale(0);
          -webkit-transition: transform .25s ease-in;
          transition: transform .25s ease-in;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          width: 1rem;
          height: .5px;
          background-color: #d9d9d9;
          outline: 2px solid #fff;
        }
      }

      &:hover,
      &.selected {
        span {
          &::before {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }


  }

  &-info {
    h3 {
      font-weight: 400;

      .product-item__line {
        font-family: gill-medium, Arial, sans-serif;
        font-size: .875rem;
        text-transform: none;
        color: #000;
        letter-spacing: .05em;
        display: block;
        line-height: normal;
        margin-bottom: .4375rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-item__style {
        font-family: gill-light, Arial, sans-serif;
        font-size: .875rem;
        letter-spacing: .05em;
        color: #000;
        display: block;
        line-height: normal;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-item__price {
        font-family: gill-medium, Arial, sans-serif;
        font-size: .875rem;
        color: #000;
        letter-spacing: .05em;
      }

    }
  }

  &-meta {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .meta {
      &-tag {
        display: flex;
        align-items: center;
        justify-content: center;

        &--item {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
          font-family: gill-medium, Arial, sans-serif;
          font-size: .75rem;
          color: #565656;
          text-transform: uppercase;
          letter-spacing: .05em;
          z-index: 2;
          background-color: hsla(0, 0%, 100%, .4);
          padding: .3125rem;
        }
      }

      &-wishlist {
        svg {
          width: 2rem;
          height: 1.5625rem;
          fill: transparent;
        }
      }
    }

  }
}

.article {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &-img {
    position: relative;
    margin-bottom: 0.6875rem;
    line-height: 0;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2;
      //background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 30%);
    }

    img {
      width: 100%;
      height: auto;
    }

  }

  &-info {
    width: 100%;

    h4 {
      text-transform: uppercase;
      line-height: 1.625rem;
    }
  }

}

.block__title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
    margin-bottom: .5rem;
  }

  .brief {
    padding-top: 16px;
  }
}

.horse-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;

  svg {
    width: 50px;
    height: 18px;
  }
}

.action__center {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 16px;

  .but-primary {
    padding: 19px 24px;
    width: auto;
  }
}

.swiper__block {
  position: relative;
  padding: 0 40px;
  overflow: hidden;

  .swiper {
    overflow: visible;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 3.9375rem;
    height: 3.9375rem;
    background-color: var(--global-color);

    &::after {
      font-size: 26px;
      color: #666;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-button-next {
    right: 40px;
  }

  .swiper-button-prev {
    left: 40px;
  }

  .swiper-pagination {
    position: relative;
    padding-top:30px;
    &-bullet {
      width: 30px;
      height: 0.187rem;
      -webkit-border-radius: 0;
      border-radius: 0;
    }
  }

}

.motion {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: auto;

  &-img {
    position: relative;
    line-height: 0;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 30%);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-txt {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    bottom: 32px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 3;

    .icon-svg {
      svg {
        width: 30px;
        height: 26px;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        fill: none;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    padding-right: 15px;
  }
}

.collection {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: auto;

  &-img {
    position: relative;
    line-height: 0;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2;
      //background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 30%);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

}

@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }

}


@media screen and (max-width: 768px) {
  
  .pc {
    display: none !important;
  }

  .page {
    padding-top: 0;
  }

  .container {
    padding-left: .9375em;
    padding-right: .9375em;
  }

  .iframe--video {
    &::before {
      padding-top: 177.77%;
    }
  }
  
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }


  .block__title {
    padding-left: 16px;
    padding-right: 16px;

    .brief {
      padding-top: 10px;
    }
  }

  .product {
    &-color {
      li {
        margin-right: 0.75rem;

        span {
          width: 1.125rem;
          height: 1.125rem;
        }
      }
    }

    &-info {
      h3 {

        .product-item__line,
        .product-item__style,
        .product-item__price {
          font-size: .75rem;
        }
      }
    }

    &-meta {
      padding: 8px 16px;

      .meta {
        &-tag {
          &--item {
            font-size: .5625rem;
          }
        }

        &-wishlist {
          svg {
            width: 1.5rem;
            height: 1.25rem;
          }
        }
      }
    }

  }

  .motion {
    &__title {
      font-size: 16px;
    }

    &-txt {
      padding: 0 30px;
    }
  }

  .swiper__block {
    padding: 0 16px;

    .swiper-button-next {
      right: 16px;
    }

    .swiper-button-prev {
      left: 16px;
    }
  }

  .region {
    flex: 0 0 100%;
    max-width: 100%;

    &-list {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 16px;
    }

    &-item {
      margin-bottom: 1.875rem;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}