@use "function" as f;

.footer {
  padding-top: 1.25em;

  &__reassurance {
    background-color: #fff;
    padding: 3.125rem 0;

    .benefit {
      display: flex;
      justify-content: center;

      li {
        flex: 0 0 20%;
        max-width: 20%;

        svg {
          display: block;
          margin-bottom: .875rem;
          margin: 0 auto;
          width: 4.375em;
          height: 4.375em;
          fill: #767676;
        }


        .benefit_info {
          text-align: center;
          display: block;
          max-width: 200px;
          margin: 0 auto;
          font-size: .875rem;

          h3 {
            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase;
          }

          p {
            font-size: .875em;
            font-weight: 400;
            color: #000;

            a {
              color: #000;
            }
          }
        }

      }
    }
  }

  &__newsletter {
    display: flex;
    background-color: var(--global-color);
    justify-content: center;
    align-items: baseline;
    padding: 3.125rem 1.25rem;

    &--block {
      flex-flow: column;
      flex: 0 0 63%;

      h4 {
        font-family: gill-medium, Arial, sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 2.5rem 0 0;
        margin-bottom: 0.75rem;
        line-height: normal;
      }
    }

    &--content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    &--brief {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &--form {
      position: relative;
      margin-bottom: 22px;
      margin-left: 5rem;

      .form__group-single {
        display: flex;
        border-bottom: 2px solid #000;

        .form__field {
          position: relative;
          z-index: 1;
          display: block;
        }

        input.form-email {
          background-color: var(--global-color);
          color: #000;
          border: none;
          padding-left: 0;
          width: 100%;
          min-width: 21.42857em;
          font-size: .875em;
          outline: none;

          &::placeholder {
            color: #000;
          }
        }

        .fly-but {
          width: 10%;
          margin: 0;
          padding: 0;
          background: none;
          border: none;

          .symbol-send-newsletter {
            position: absolute;
            z-index: 2;
            top: 1.375rem;
            right: .625rem;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: .9375rem;
            height: .9375rem;
            fill: #000;
          }
        }


      }

    }
  }

  &__nav {
    padding: 0 2.125em;
    padding-bottom: 1.5625em;

    .link--alpha::before {
      background-color: rgba(0, 0, 0, 0.5);
      height: 1px;
    }
  }

  &-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .bloc-wrapper {
      flex: 0 0 20%;
      padding: 0 10px;

      p.title {
        font-size: 1rem;
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 600;
        color: #000;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 1.25rem;
          margin-right: 0.625rem;
          max-width: 250px;
          line-height: 1;

          a {
            font-size: .875rem;
            position: relative;
            font-weight: 400;
            letter-spacing: .03em;
            color: #000;
            opacity: .5;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__methods {
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, .1);
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin: 0 2.125rem;
    align-items: flex-start;

    &--item {
      width: 100%;
      text-align: center;

      p.title {
        text-transform: uppercase;
        margin-bottom: 1.25rem;
        font-weight: 700;
        font-size: 0.75rem;
      }
    }

    .logo-partner {
      img {
        vertical-align: middle;
        border-style: none;
      }
    }

    .language-selector {
      position: relative;
    }

    .custom-nav-lc-footer {
      display: flex;
      text-align: left;
      justify-content: center;

      li.dropdown {
        position: relative;
        font-family: gill-regular, Arial, sans-serif;
        margin-right: 10px;
        font-size: .875rem;
        color: #000;
        letter-spacing: .03em;
        width: 18.75rem;
      }

      .symbol--s {
        width: 1em;
        height: 1em;
        position: absolute;
        right: 1.25em;
        top: 39%;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .languageSelect {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
      }

      .select2-container {
        width: 300px;

        .select2-selection {
          border: 1px solid #000;
          height: 3.5625rem;
          padding: 2px 10px;
          display: flex;
          align-items: center;

          &__rendered {
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #444;
            line-height: 28px;
          }

          .flex-middle {
            display: inline-flex;
            width: 1.5625em;
            margin-right: .625em;
            line-height: 0;

            .img-flag {
              width: 100%;
            }
          }

        }
      }
    }
  }

  &__contact {
    .fourthfooterblock {
      display: flex;
      background-color: #fff;
      align-items: center;
      justify-content: space-between;
    }

    .copyright-first-block {
      padding-left: 2.375em;
      text-align: left;
      font-weight: 400;
      color: #32440e;
      font-size: .875rem;
      margin: 2.5em 0;
    }

    .copyright-second-block {
      line-height: 100%;
      margin: 2.5em 0;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          padding-right: 1em;
          list-style: none;

          a {
            svg {
              color: #32440e;
              width: 1.75em;
              height: 1.75em;
              font-size: .875rem;

              display: flex;
              align-items: center;
              transition: opacity .25s ease-in;
              margin-left: .3125em;
              margin-right: .3125em;
              opacity: 1;

            }
          }
        }
      }
    }

    .copyright-third-block {
      margin: 2.5rem 0;

      ul {
        display: flex;

        li {
          list-style: none;
          padding-right: 2.5rem;

          a {
            color: #32440e;
            font-weight: 400;
            font-size: .9375rem;
            font-family: gill-medium, Arial, sans-serif;
            margin-top: 1.25em;
            text-decoration: none;
          }
        }
      }
    }

  }

}


@media screen and (max-width: 768px) {
  .footer {
    .logo-mobile {
      .symbol {
        height: 1.25rem;
      }

      margin-bottom: 1.875rem;
    }

    &__reassurance {
      .benefit {
        flex-wrap: wrap;
        padding: 16px;

        li {
          flex: 0 0 50%;
          max-width: 50%;
          margin-top: .875em;
          margin-bottom: .875em;

          svg {
            margin: .625em auto;
          }

          .benefit_info {
            padding: 0 15px;

            h3 {
              line-height: 18px;
            }
          }
        }

      }
    }

    &__newsletter {
      //padding: 3.125rem 1.25rem;
      padding: 3.125rem 16px;
      flex-wrap: wrap;

      &--block {
        flex: 0 0 100%;
        max-width: 100%;

        h4 {
          margin-left: 0;
          margin-right: auto;
          line-height: 1;
          margin-bottom: .75rem;
          text-align: center;
        }
      }

      &--content {
        flex-wrap: wrap;
        text-align: center;
      }

      &--form {
        margin: 0;
        width: 100%;
        margin-top: .9375em;
        margin-bottom: 22px;
      }

      &--brief {
        text-align: center;
      }
    }

    &__nav {
      padding: 0 1.25em 1.5625em 1.25em;
    }

    &-link {
      flex-flow: column;

      .bloc-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 8px;
        margin-bottom: 25px;

        p.title {
          position: relative;
          font-size: .875rem;
          margin-bottom: 0;

          &::before {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjAwOTggMTdMMTQuMDA5IDkuOTk5MjdMNi45OTkzMiAxNyIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
            right: 0;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }

        ul {
          display: none;
          flex-direction: column;
          padding-top: 1.5625rem;

          li {
            font-size: 15px;
            width: 100%;
            max-width: initial;
            margin-right: 0;
          }
        }
        &.active {
          ul {
            display: flex;
          }
        }
      }
    }

    &__methods {
      flex-wrap: wrap;
      padding: 3.125rem 1.25em 0 1.25em;
      margin: 0;

      &--item {
        &:not(:last-child) {
          margin-bottom: 3.125rem;
        }
      }

      .custom-nav-lc-footer li.dropdown {
        margin: 0;
      }
    }

    &__contact {
      padding: 3.125em 0;

      .fourthfooterblock {
        display: block;

        .copyright-first-block {
          margin-bottom: 1.875em;
          padding: 0;
          text-align: center;
        }

        .copyright-second-block {
          padding: 0 13%;
          margin: 0;

          ul {
            justify-content: center;

            li {
              padding-right: 1em;
              padding-bottom: 1rem;
            }
          }
        }

        .copyright-third-block {
          line-height: 35px;
          margin: 0;

          ul {
            display: block;

            li {
              padding: 0;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}

@media screen and (max-width:1023px) {}