<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="author" content="longCharm">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>longCharm</title>
    <meta name="description" content="longCharm">
    <meta name="keywords" content="longCharm">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="longCharm">
    <meta property="og:description" content="longCharm">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/thumbnail.jpg">
    <meta property="og:site_name" content="longCharm">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="longCharm">
    <link rel="icon" href="images/favicon.png">
    <link href="css/index.css" rel="preload stylesheet" as="style">
</head>

<body data-page="home">
    <div class="page">
        <%= htmlWebpackPlugin.options.svg %>
        <%= htmlWebpackPlugin.options.header %>
        <%= htmlWebpackPlugin.options.video %>
        <%= htmlWebpackPlugin.options.home %>
        <%= htmlWebpackPlugin.options.footer %>
    </div>

    <!--Script-->
    <%= htmlWebpackPlugin.options.preload %>
        <script src="js/index.js"></script>
        <script type="module" src="js/common.js"></script>
</body>

</html>